
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489406223894'); /* IE9*/
  src: url('iconfont.eot?t=1489406223894#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489406223894') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489406223894') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489406223894#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e60b"; }

.icon-add:before { content: "\e7c4"; }

.icon-user:before { content: "\e769"; }

.icon-ShareBaidu:before { content: "\e612"; }

